.recipe-picture{
    text-align: center;
    margin: 20px 0;
    max-height: 400px;
    height: 100%;
}

.recipe-caterory{
    margin-bottom: 10px;
}
.recipe-description{
    font-size: 18px;
}
.recipe-caterory a{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}
.recipe-item-description strong{
    font-size: 13px;
}

@media (min-width: 768px) {
    .recipe-picture img{
        height: 400px;
    }
}

@media (max-width: 767px) {
    .recipe-picture img{
        height: 300px;
    }
}