.recipe-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
      
}
.recipe-item{
    width: 100%;
    max-width: 270px;
    border: 15px solid #f7f6f6;
    background: #fff;
    margin: 10px;
    padding: 15px;
}
.recipe-item h4{
    overflow: hidden;
}

.recipe-item-picture{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    text-align: center;
}
.recipe-item-category{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.category-page .top-panel p{
    text-align: center;
    line-height: 25px;
}

.recipe-item h4{
    text-align: center;
    position: relative;
}
.recipe-item h4:before{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    width: 20px;
}
.recipe-item h4 a{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .8px;
    white-space: nowrap;
    font-size: 14px;
}
.recipe-item-description{
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;
    font-size: 14px;
}
.recipe-item-category{
    margin-bottom: 5px;
}