.breadcrumbs{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;        
}
.breadcrumbs li{
    position: relative;
    padding-right: 20px;
}
.breadcrumbs li:last-child{
    padding-right: 0;
}
.breadcrumbs li a{
    font-size: 14px;
}
.breadcrumbs li:last-child a{
    color: black;
    pointer-events: none;
}
.breadcrumbs li:first-child a {
    color: #62a5a1;
    pointer-events: visible;
}

.breadcrumbs li:not(:last-child):before{
    content: '/';
    position: absolute;
    right: 8px;
    color: #ddd;
}